
/*START CHANGE DEFAULT BOOTSTRAP STYLES*/

button:focus, button:active, button:hover, button:target, input:focus, input:active, input:hover, input:target {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

/*END CHANGE DEFAULT BOOTSTRAP STYLES*/

/*--------------------------------------------------------------------------------------------------*/
